<%= simple_form_for([:admin, @site], as: :site, url: :admin_site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= image_tag(f.object.logo.thumb.url) %>

    <%= f.input :logo, as: :file %>
    <%= f.input :logo_cache, as: :hidden %>

    <%= f.input :remove_logo, as: :boolean,
                              checked_value: true,
                              unchecked_value: false if f.object.logo? %>

    <%= f.input :locale, as: :language %>
    <%= f.input :meta_keywords, as: :meta_keywords, input_html: { multiple: true } %>
    <%= f.input :meta_description %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit %>
  </div>
<% end %>
