<%= image_tag(@site.logo.thumb.url) %>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>META Keywords:</strong>
  <%= @site.meta_keywords %>
</p>

<p>
  <strong>META Description:</strong>
  <%= @site.meta_description %>
</p>

<%= link_to "Edit", edit_admin_site_path %>
