<div class="row">
  <div class="col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions form-actions text-center">
        <%= f.submit Archangel.t("auth.button.resend_confirmation_instructions"), class: "btn btn-primary block full-width" %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10">
    <%= render "devise/shared/links" %>
  </div>
</div>
