<article>
  <h2><a href="<%= path_to(post) %>"><%= post.title %></a></h2>

  <p class="lead">
    <%= Archangel.t(:posted_by) %> <a href="#"><%= post.author.name %></a>
  </p>

  <p>
    <span class="glyphicon glyphicon-time"></span>
    <%= Archangel.t(:posted_on) %> <%= local_time(post.published_at) %>
  </p>

  <% if post.banner? %>
    <%= image_tag(post.banner.url(:thumb), class:"img-responsive") %>
  <% end %>

  <%= post.content %>
</article>
