<div class="nested-fields">
  <%= f.input :label %>
  <%= f.input :attr_id %>
  <%= f.input :attr_class %>
  <%= f.input :target %>
  <%= f.input :url %>
  <%= f.input :menuable_id %>
  <%= f.input :menuable_type %>
  <%= f.input :method %>

  <%= link_to_remove_association "remove menu item", f %>
</div>
