<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2>Profile</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="profile-show panel panel-default">
  <div class="panel-body">
    <%= image_tag(@profile.avatar.thumb.url, alt: @profile.username) %>

    <p>
      <strong>Name:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @profile.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @profile.email %>
    </p>
  </div>
</div>
