<div class="panel panel-default devise-bs">
  <div class="panel-heading text-center">
    <h4><%= Archangel.t("auth.forgot_your_password") %></h4>
  </div>

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions text-center">
        <%= f.submit Archangel.t("auth.button.send_me_reset_password_instructions"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
