<aside id="sidebar">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span>
              <a href="<%= admin_root_path %>"><img alt="image" class="img-circle" src="<%= current_site.logo_url(:thumb) %>"/></a>
            </span>

            <a href="<%= admin_root_path %>">
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold"><%= current_site.title %></strong>
                </span>
              </span>
            </a>
          </div>
        </li>

        <li class="dashboard">
          <a href="<%= admin_root_path %>">
            <span class="nav-label"><%= Archangel.t(:dashboard, scope: :menu) %></span>
          </a>
        </li>

        <li class="pages">
          <a href="<%= admin_pages_path %>">
            <span class="nav-label"><%= Archangel.t(:pages, scope: :menu) %></span>
          </a>
        </li>

        <li class="categories">
          <a href="<%= admin_categories_path %>">
            <span class="nav-label"><%= Archangel.t(:categories, scope: :menu) %></span>
          </a>
        </li>

        <li class="tags">
          <a href="<%= admin_tags_path %>">
            <span class="nav-label"><%= Archangel.t(:tags, scope: :menu) %></span>
          </a>
        </li>

        <li class="users">
          <a href="<%= admin_users_path %>">
            <span class="nav-label"><%= Archangel.t(:users, scope: :menu) %></span>
          </a>
        </li>

        <li class="site">
          <a href="<%= admin_site_path %>">
            <span class="nav-label"><%= Archangel.t(:site, scope: :menu) %></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
