<%= simple_form_for([:admin, @asset]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :file, as: :file %>

    <div class="form-group asset_file_object">
      <div class="col-sm-10 col-sm-offset-2">
        <% if f.object.file? %>
          <%= f.object.file %>
        <% end %>

        <div>
          <%= image_tag(f.object.file.thumb.url, alt: "") %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit %>
  </div>
<% end %>
