<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2><%= Archangel.t(:index_resource, resource: @assets.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="assets-index panel panel-default">
  <div class="panel-body">
    <% if @assets.any? %>

      <%= paginate @assets %>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Archangel.t(:file) %></th>
              <th><%= Archangel.t(:title) %></th>
              <th class="actions text-right"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <% @assets.each do |asset| %>
              <tr>
                <td><%= image_tag(asset.file.mini.url) %></td>
                <td><%= asset.title %></td>
                <td class="actions text-right">
                  <%= link_to(fa_icon("folder-open", text: Archangel.t(:show)), admin_asset_path(asset), class: "btn btn-info btn-sm") %>
                  <%= link_to(fa_icon("pencil", text: Archangel.t(:edit)), edit_admin_asset_path(asset), class: "btn btn-success btn-sm") %>
                  <%= link_to(fa_icon("times", text: Archangel.t(:destroy)), admin_asset_path(asset), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @assets %>

    <% else %>

      <div class="no-resources col-lg-12">
        <p>
          <%= Archangel.t(:no_resources, resource: @assets.model_name.human.pluralize.downcase) %>
        </p>
      </div>

    <% end %>
  </div>
</div>
