<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Asset List</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="assets-index row">
    <div class="col-lg-12">
      <% if @assets.any? %>

        <%= paginate @assets %>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>File</th>
                <th>Title</th>
                <th class="actions text-right">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @assets.each do |asset| %>
                <tr>
                  <td><%= image_tag(asset.file.mini.type_url) %></td>
                  <td><%= asset.title %></td>
                  <td class="actions text-right">
                    <%= link_to(fa_icon("folder-open", text: "Show"), admin_asset_path(asset), class: "btn btn-info btn-sm") %>
                    <%= link_to(fa_icon("pencil", text: "Edit"), edit_admin_asset_path(asset), class: "btn btn-success btn-sm") %>
                    <%= link_to(fa_icon("times", text: "Destroy"), admin_asset_path(asset), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @assets %>

      <% else %>

        <div class="no-resources col-lg-12">
          <p>
            <%= Archangel.t(:no_resources, resource: @assets.model_name.human.pluralize) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
