<%= simple_form_for([:admin, @category],
                    wrapper: :horizontal_form,
                    html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :description, as: :text %>
  </div>

  <div class="form-actions pull-right">
    <%= f.button :submit %>
  </div>
<% end %>
