<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2><%= Archangel.t(:index_resource, resource: @categories.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="categories-index panel panel-default">
  <div class="panel-body">
    <% if @categories.any? %>

      <%= paginate @categories %>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Archangel.t(:name) %></th>
              <th><%= Archangel.t(:slug) %></th>
              <th class="text-right"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.slug %></td>
                <td class="actions text-right">
                  <%= link_to(fa_icon("folder-open", text: Archangel.t(:show)), admin_category_path(category), class: "btn btn-info btn-sm") %>
                  <%= link_to(fa_icon("pencil", text: Archangel.t(:edit)), edit_admin_category_path(category), class: "btn btn-success btn-sm") %>
                  <%= link_to(fa_icon("times", text: Archangel.t(:destroy)), admin_category_path(category), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @categories %>

    <% else %>

      <div class="no-resources col-lg-12">
        <p>
          <%= Archangel.t(:no_resources, resource: @categories.model_name.human.pluralize.downcase) %>
        </p>
      </div>

    <% end %>
  </div>
</div>
