<div class="page-header panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: @tag.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="tags-show panel panel-default">
  <div class="panel-body">
    <p>
      <strong><%= Archangel.t(:name) %>:</strong>
      <%= @tag.name %>
    </p>

    <p>
      <strong><%= Archangel.t(:slug) %>:</strong>
      <%= @tag.slug %>
    </p>

    <p>
      <strong><%= Archangel.t(:description) %>:</strong>
      <%= @tag.description %>
    </p>
  </div>
</div>
