<%= simple_form_for([:admin, @post], html: { class: "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug %>

    <%= image_tag(f.object.banner.thumb.url) %>
    <%= f.input :banner, as: :file %>
    <%= f.input :banner_cache, as: :hidden %>

    <%= f.input :remove_banner, as: :boolean,
                                checked_value: true,
                                unchecked_value: false if f.object.banner? %>

    <% if f.object.new_record? %>
      <%= f.input :author_id, as: :hidden, input_html: { value: current_user.id } %>
    <% else %>
      <%= f.association :author, as: :select, include_blank: false %>
    <% end %>

    <%= f.input :content, as: :text %>
    <%= f.input :excerpt, as: :text %>
    <%= f.input :published_at, as: :date_time_picker, input_html: { value: datetimepicker_field_value(f.object.published_at, f.object.new_record?) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
