<div class="page-header panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:index_resource, resource: @posts.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="posts-index panel panel-default">
  <div class="panel-body">
    <% if @posts.size %>

      <%= paginate @posts %>

      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"><%= Archangel.t(:title) %></th>
              <th scope="col"><%= Archangel.t(:permalink) %></th>
              <th scope="col"><%= Archangel.t(:author) %></th>
              <th class="actions text-right" scope="col"><%= Archangel.t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.path %></td>
                <td><%= author_link(post.author) %></td>
                <td class="actions text-right">
                  <%= link_to(glyphicon_icon("info-sign", text: Archangel.t(:show)), admin_post_path(post), class: "btn btn-info btn-sm") %>
                  <%= link_to(glyphicon_icon("ok-sign", text: Archangel.t(:edit)), edit_admin_post_path(post), class: "btn btn-warning btn-sm") %>
                  <%= link_to(glyphicon_icon("remove-sign", text: Archangel.t(:destroy)), admin_post_path(post), class: "btn btn-danger btn-sm",
                                                            method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @posts %>

    <% else %>

      <p class="no-resources">
        <%= Archangel.t(:no_resources, resource: @posts.model_name.human.pluralize.downcase) %>
      </p>

    <% end %>
  </div>
</div>
