<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:show_resource, resource: @post.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="pages-show panel panel-default">
  <div class="panel-body">
    <%= image_tag(@post.feature.thumb.url) %>

    <p>
      <strong><%= Archangel.t(:title) %>:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong><%= Archangel.t(:permalink) %>:</strong>
      <%= @post.path %>
    </p>

    <p>
      <strong><%= Archangel.t(:slug) %>:</strong>
      <%= @post.slug %>
    </p>

    <p>
      <strong><%= Archangel.t(:author) %>:</strong>
      <%= author_link(@post.author) %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_keywords) %>:</strong>
      <%= @post.meta_keywords %>
    </p>

    <p>
      <strong><%= Archangel.t(:meta_description) %>:</strong>
      <%= @post.meta_description %>
    </p>

    <p>
      <strong><%= Archangel.t(:content) %>:</strong>
      <%= @post.content %>
    </p>
  </div>
</div>
