<div class="row wrapper border-bottom page-heading">
  <div class="col-lg-12">
    <h2>User List</h2>

    <%= render "archangel/admin/users/buttons" %>

    <%= render "archangel/admin/shared/breadcrumbs" %>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <% if @users.any? %>
        <%= paginate @users %>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th class="text-right">Action</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag(user.avatar.mini.url) %></td>
                <td><%= user.name %></td>
                <td><%= user.username %></td>
                <td><%= user.role %></td>
                <td>
                  <ul class="nav nav-pills navbar-right">
                    <li><%= link_to "Show", admin_user_path(user) %></li>
                    <li><%= link_to "Edit", edit_admin_user_path(user) %></li>
                    <li><%= link_to "Destroy", admin_user_path(user), method: :delete, data: { confirm: Archangel.t(:are_you_sure) } %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= paginate @users %>
      <% else %>
        <p>
          <%= Archangel.t(:no_resources, resource: "Users") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
