<div class="row wrapper page-header">
  <div class="col-lg-12">
    <h2>User</h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="users-show panel panel-default">
  <div class="panel-body">
    <%= image_tag(@user.avatar.thumb.url, alt: @user.username) %>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Userame:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>
</div>
