<nav class="navbar-default" role="navigation">
  <div class="sidebar-collapse">
    <div class="nav-header">
      <div class="brand-logo text-center">
        <a href="<%= admin_root_path %>"><img alt="<%= current_site.name %>" class="img-center img-responsive" src="<%= current_site.logo_url(:thumb) %>" /></a>
      </div>

      <h2 class="brand-name text-center visible-md visible-lg">
        <%= current_site.name %>
      </h2>
    </div>

    <%= render_navigation(context: :admin,
                          renderer: :bootstrap,
                          expand_all: true,
                          &current_navigation) %>
  </div>
</nav>
